In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np

In [2]:
match_out = pd.read_csv('data/match_outcomes.csv')
match_out

,match_id,account_id_0,account_id_1,account_id_2,account_id_3,account_id_4,start_time,parser_version,win,rad
0,1636204962,34549,0,0,-51743434,-120875154,1437014585,12,1,0
1,1636204962,0,61598,138825,0,207232,1437014585,12,0,1
2,1636322679,0,-44943233,-240360907,19599,0,1437019968,12,0,0
3,1636322679,-97530201,0,0,0,-116349387,1437019968,12,1,1
4,1637385965,0,0,0,104738,0,1437052551,12,1,0
...,...,...,...,...,...,...,...,...,...,...
1828583,1930327119,2898,0,4161,27088,0,1447311134,14,0,0
1828584,1930333522,276597,47600,26597,-191452592,147872,1447311476,14,1,1
1828585,1930333522,35144,-198295236,41272,0,151139,1447311476,14,0,0
1828586,1930334829,0,2850,-119710321,188881,0,1447311544,14,0,0
1828587,1930334829,0,45125,0,53149,0,1447311544,14,1,1

In [3]:
match_out[match_out['account_id_0'] == 34549]

,match_id,account_id_0,account_id_1,account_id_2,account_id_3,account_id_4,start_time,parser_version,win,rad
0,1636204962,34549,0,0,-51743434,-120875154,1437014585,12,1,0
536847,1805724007,34549,34550,263060,54216,-43114043,1442700966,12,0,0
715284,1819222019,34549,-34989428,54888,0,60278,1443200590,13,1,1
717355,1819338709,34549,0,-51926652,111621,-174427345,1443203842,13,0,0
1075247,1841412558,34549,0,0,89087,0,1443937379,13,0,1

In [4]:
match = pd.read_csv('data/match.csv')
match

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
0,0,1446750112,2375,1982,4,3,63,1,22,True,0,1,155
1,1,1446753078,2582,0,1846,63,0,221,22,False,0,2,154
2,2,1446764586,2716,256,1972,63,48,190,22,False,0,0,132
3,3,1446765723,3085,4,1924,51,3,40,22,False,0,0,191
4,4,1446796385,1887,2047,0,0,63,58,22,True,0,0,156
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,1447829192,3025,1824,0,0,63,117,22,True,0,0,111
49996,49996,1447829181,1451,1982,384,48,63,147,22,True,0,0,204
49997,49997,1447829197,2672,1830,0,0,63,130,22,True,0,0,111
49998,49998,1447829189,2211,1982,4,3,63,645,22,True,0,0,151
49999,49999,1447829215,2788,0,2046,63,0,326,22,False,0,0,154

In [6]:
player_time = pd.read_csv('data/player_time.csv')
player_time

,match_id,times,gold_t_0,lh_t_0,xp_t_0,gold_t_1,lh_t_1,xp_t_1,gold_t_2,lh_t_2,...,xp_t_129,gold_t_130,lh_t_130,xp_t_130,gold_t_131,lh_t_131,xp_t_131,gold_t_132,lh_t_132,xp_t_132
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,60,409,0,63,142,1,186,168,0,...,62,345,6,351,100,0,77,613,1,125
2,0,120,546,0,283,622,4,645,330,0,...,543,684,12,805,200,0,210,815,5,323
3,0,180,683,1,314,927,9,1202,430,0,...,842,958,16,1135,300,0,210,1290,8,527
4,0,240,956,1,485,1264,11,1583,530,0,...,1048,1500,26,1842,400,0,210,1431,9,589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2209773,49999,2640,19098,215,20444,18261,129,27832,18988,89,...,24025,15992,91,16998,34374,296,32701,23114,290,22774
2209774,49999,2700,19460,227,20659,18478,134,28012,19108,90,...,24025,16092,91,16998,34474,296,32701,23214,290,22774
2209775,49999,2760,19948,237,20889,18889,148,28437,19208,90,...,25430,16518,91,17509,35434,305,32701,23602,290,24179
2209776,49999,2820,19997,237,20889,18938,148,28437,19257,90,...,28237,17246,92,18815,36272,306,32701,24181,294,24772
2209777,49999,2880,19997,237,20889,18938,148,28437,19257,90,...,28237,17246,92,18815,36272,306,32701,24181,294,24772

In [8]:
player_time.columns

Index(['match_id', 'times', 'gold_t_0', 'lh_t_0', 'xp_t_0', 'gold_t_1',
       'lh_t_1', 'xp_t_1', 'gold_t_2', 'lh_t_2', 'xp_t_2', 'gold_t_3',
       'lh_t_3', 'xp_t_3', 'gold_t_4', 'lh_t_4', 'xp_t_4', 'gold_t_128',
       'lh_t_128', 'xp_t_128', 'gold_t_129', 'lh_t_129', 'xp_t_129',
       'gold_t_130', 'lh_t_130', 'xp_t_130', 'gold_t_131', 'lh_t_131',
       'xp_t_131', 'gold_t_132', 'lh_t_132', 'xp_t_132'],
      dtype='object')

In [24]:
player_time[player_time['match_id']==0].iloc[-1]

match_id          0
times          2520
gold_t_0      13764
lh_t_0           30
xp_t_0        14353
gold_t_1      19584
lh_t_1          109
xp_t_1        26121
gold_t_2      13876
lh_t_2           58
xp_t_2        15253
gold_t_3      23715
lh_t_3          271
xp_t_3        23988
gold_t_4      24273
lh_t_4          245
xp_t_4        30197
gold_t_128    15754
lh_t_128        162
xp_t_128      20761
gold_t_129    12032
lh_t_129        107
xp_t_129      14618
gold_t_130    17910
lh_t_130        208
xp_t_130      20491
gold_t_131     7496
lh_t_131         27
xp_t_131       8861
gold_t_132    19655
lh_t_132        147
xp_t_132      18062
Name: 42, dtype: int64

In [27]:
def TeamGoldTotals(match_id,num_of_points=1):
    '''
    params:
    int of the match_id
    
    returns:
    np.array of gold totals of team 1 and 2 at the end of the match.
    
    TODO:
    take num_of_pts to make a np.linspace range and pull points from that as an evenly-spaced index range
    '''
    match_df = player_time[player_time['match_id']==match_id]
    team1 = (match_df.iloc[-1][2] +
            match_df.iloc[-1][5] +
            match_df.iloc[-1][8] +
            match_df.iloc[-1][11] +
            match_df.iloc[-1][14])
    
    team2 = (match_df.iloc[-1][17] +
            match_df.iloc[-1][20] +
            match_df.iloc[-1][23] +
            match_df.iloc[-1][26] +
            match_df.iloc[-1][29])
    
    return np.array([team1,team2])

TeamGoldTotals(0)

array([95212, 72847])